<%= form_for @article do |f| %>
  <%= f.label :title, "introdusca Titulo" %>
  <%= f.text_field :title %>

  <%= f.label :content, "introdusca contenido" %>
  <%= f.text_area :content %>

  <%= f.submit %>
<% end %>

<%# <form action="/tasks" method"post">
  <label for="title">Entrar titulo</label>
  <input type="text" name="task[title]" placeholder="TITULO">
  <label for="content">Entrar Detalles</label>
  <input type="text" name="task[content]" placeholder="detalles">
  <input type="submit" >
</form>
 %>
